:root {
    --white: #fff;
    --dark-blue-logo: rgb(56, 52, 84);
    --border-radius: 0.22em;
    --btn-submit: rgb(121, 241, 137);
    --btn-submit-hover: rgb(78, 240, 100);
    --btn-update: #45a7e9;
    --btn-update-hover: #3896d4;
    --background-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
    --little-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

    --black: rgb(28, 26, 37);
    --black-grey: #2e2f3e;
    --orange: #ff8906;
    --white-text: #ffffff;
    --paragraph: #a7a9be;
    --bg-input: #dee1e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.btn-connexion {
    color: var(--black);
    font-weight: 600;
    font-size: 1.3rem;
    background-color: var(--btn-update);
    transition: all .2s ease-in-out;
    padding: 8px 30px;
    border-radius: var(--border-radius);
}

.btn-connexion:hover {
    background-color: var(--btn-update-hover);
    box-shadow: var(--background-shadow);
}

header img {
    width: 225px;
}

header a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.5rem;
}

header ul {
    list-style-type: none;
}

.topnavbar {
    display: flex;
    justify-content: space-between;
    gap: 35%;
    align-items: center;
}

.navbar-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu li {
    width: 100%;
    text-align: center;
}

.navbar-menu a.navbar-link {
    padding: 10px 25px;
    line-height: 35px;
    border-bottom: 2px solid transparent;
    transition: all .2s ease-in-out;
}

.navbar-menu a.navbar-link:hover {
    border-bottom: 2px solid var(--black);
}