.container-poule{
display : flex;
justify-content: space-between;
height: 80vh;
}

.poule-gauche {
display: flex; 
flex-direction: column;
height: 100%;
width: 30%;
margin-right: 5px;
}

.poule {
display: flex;
flex-direction: column;
background-color: var(--white);
height: auto;
margin: 5px;
border : solid 1px;
cursor: pointer;
}

.pouleLibelle{
background-color: #d2d7d8;
}

.equipe {
display : flex;
padding : 5px;
height: 25%;
justify-content: space-between;
color : var(--white-text);
}

.violet-clair {
background-color: #7e68be;
}

.violet-fonce {
background-color : var(--purple);
}

.poule-droite {
display: flex;
flex-direction: column;
height: 100%;
width: 70%;
border : solid 1px;
/* margin-left : 5px; */
margin : 5px;
background-color: #7e68be;
}

.poule-droite h1 {
align-items: center;
padding: 5px;
}

.match{
display: flex;
flex-direction:column ;    
align-items: center;
height: auto;
width: 40%;
margin: 20px;
}

.tout-match{
display : flex;
height: 100%;
flex-wrap: wrap;
justify-content: center;
}

.match .equipe-match {
color : var(--white-text);
margin-bottom: 5px;
}

.radioEquipe{
display: flex;
flex-direction: column;
justify-content: center;
color : var(--white-text);
}

.radioEquipe1{
text-align: center;
}

.radioEquipe2{
text-align: center;
}

button[type="submit"].submit-valider {
box-shadow: var(--background-shadow);
border-radius: var(--border-radius);
color: var(--black);
background-color: var(--btn-submit);
border: 0px;
margin: 5px;
font-weight: 600;
font-size: small;
width: 40%;
height: 15%;
line-height: initial;
transition: all .2s ease-in-out;
cursor: pointer;
}

h3 {
    color : var(--white-text);
    margin : 5%;
}

svg {
    margin: 5%;
}

.gagnantRencontre{
    display: flex;
    justify-content: center;
    width: 100%;
}