@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white: #fff;
  --dark-blue-logo: rgb(56, 52, 84);
  --border-radius: 0.22em;
  --btn-bouton: rgb(228, 118, 118);
  --btn-boutonAddJoueur: rgb(101, 181, 235);
  --btn-boutonAddJoueur-hover: rgb(28, 170, 231);
  --btn-submit: rgb(121, 241, 137);
  --btn-submit-hover: rgb(78, 240, 100);
  --btn-update: #45a7e9;
  --btn-update-hover: #3896d4;
  --background-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
  --little-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  --black: rgb(28, 26, 37);
  --black-grey: #2e2f3e;
  --purple: #ff8906;
  --white-text: #ffffff;
  --paragraph: #a7a9be;
  --bg-input: #dee1e2;
  --purple : #6436a0;
  --purple-blue: #410275;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background: var(--purple);
  color: var(--black);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--purple);
  color: var(--black);
  /* Gecko Browsers */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-weight: 700;
}

label {
  font-weight: 500;
}



/* Spécification style des balises formulaires *//* Spécification style des balises formulaires *//* Spécification style des balises formulaires *//* Spécification style des balises formulaires *//* Spécification style des balises formulaires *//* Spécification style des balises formulaires *//* Spécification style des balises formulaires *//* Spécification style des balises formulaires */

input {
  outline: none;
}

input[type="text"],
input[type="date"],
input[type="password"],
select {
  box-shadow: var(--little-shadow);
  display: inline-block;
  padding: 0 16px 0 12px;
  width: 250px;
  line-height: 30px;
  height: 32px;
  border: 2px solid #dee1e2;
  background: #dee1e2;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  transition: all .15s ease-in-out;
}


input[type="submit"].submit {
  box-shadow: var(--background-shadow);
  border-radius: var(--border-radius);
  color: var(--black);
  border: 0px;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: var(--btn-submit);
  width: auto;
  line-height: initial;
  height: max-content;
  transition: all .2s ease-in-out;
}

/* bouton ajout joueur de théo ? */
input[type="submit"].add {
  font-size: 0.9rem;
  background-color: var(--btn-update);
}

input[type="button"].bouton {
  box-shadow: var(--background-shadow);
  border-radius: var(--border-radius);
  color: var(--black);
  border: 0px;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: var(--btn-bouton);
  width: auto;
  line-height: initial;
  height: max-content;
  transition: all .2s ease-in-out;
}

input[type="button"].boutonAddJoueur {
  box-shadow: var(--background-shadow);
  border-radius: var(--border-radius);
  color: var(--black);
  border: 0px;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: var(--btn-boutonAddJoueur);
  width: auto;
  line-height: initial;
  height: max-content;
  transition: all .2s ease-in-out;
}

input[type="submit"].update {
  box-shadow: var(--background-shadow);
  border-radius: var(--border-radius);
  color: var(--black);
  border: 0px;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: var(--btn-update);
  width: auto;
  line-height: initial;
  height: max-content;
  transition: all .2s ease-in-out;
}



input[type="text"]:hover,
input[type="date"]:hover,
input[type="password"]:hover,
select:hover {
  border: 2px solid #d2d7d8;
  background: #d2d7d8;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus {
  border: 2px solid #696666;
  background: #d2d7d8;
}

input[type="submit"].submit:hover {
  background-color: var(--btn-submit-hover);
}

input[type="submit"].update:hover {
  background-color: var(--btn-update-hover);
}

input[type="submit"].add:hover {
  background-color: var(--btn-update-hover);
}

/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */

.btn-connexion {
  color: var(--white-text);
  font-weight: 600;
  font-size: 1.3rem;
  background-color: var(--purple);
  transition: all .2s ease-in-out;
  padding: 8px 25px;
  margin-left: 25px;
  border-radius: var(--border-radius);
}

.btn-connexion:hover {
  background-color: var(--purple-blue);
  box-shadow: var(--background-shadow);
}

header {
  width: 100%;
  padding: 0 2rem;
  background-color: var(--white-text);
  box-shadow: var(--little-shadow);
}

header img {
  width: 225px;
}

header a {
  color: var(--black);
  text-decoration: none;
  font-size: 1.5rem;
}

header ul {
  list-style-type: none;
}

.topnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu li {
  width: 100%;
  text-align: center;
}

.navbar-menu a.navbar-link {
  padding: 10px 25px;
  line-height: 50px;
  border-bottom: 1px solid var(--white-text);
  transition: all .2s ease-in-out;
}

.navbar-menu a.navbar-link:hover {
  border-bottom: 1px solid var(--black);
}

.navbar-menu .sousmenu {
  display: none;
}

.navbar-item:hover .sousmenu {
  display: block;
  position: absolute;
  padding: 15px;
  background-color: var(--white);
  box-shadow: var(--background-shadow);
  border-radius: var(--border-radius);
}

.navbar-item:hover .sousmenu li {
  width: 100%;
  text-align: left;
}

.navbar-item:hover .sousmenu li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: initial;
}

/* Creation/Modification d'un tournoi *//* Creation/Modification d'un tournoi *//* Creation/Modification d'un tournoi *//* Creation/Modification d'un tournoi *//* Creation/Modification d'un tournoi *//* Creation/Modification d'un tournoi *//* Creation/Modification d'un tournoi *//* Creation/Modification d'un tournoi *//* Creation/Modification d'un tournoi *//* Creation/Modification d'un tournoi *//* Creation/Modification d'un tournoi *//* Creation/Modification d'un tournoi */

.creation-tournoi-container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.creation-tournoi-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 75px;
  gap: 50px;
}

.main-creation-tournoi {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../img/home-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.creation-tournoi-title {
  gap: 15px;
  font-size: 2rem;
  width: 115%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.creation-tournoi-title::after {
  content: '';
  width: 100%;
  background-color: #000000;
  opacity: .2;
  height: 1px;
  font-size: 2rem;
}

.creation-tournoi {
  gap: 110px;
  display: flex;
  justify-content: space-between;
}

.creation-tournoi-input {
  padding: 10px 0;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

/* Pages des listes admin *//* Pages des listes admin *//* Pages des listes admin *//* Pages des listes admin *//* Pages des listes admin *//* Pages des listes admin *//* Pages des listes admin *//* Pages des listes admin *//* Pages des listes admin *//* Pages des listes admin *//* Pages des listes admin *//* Pages des listes admin *//* Pages des listes admin *//* Pages des listes admin */

.main-listes {
  display: flex;
  justify-content: center;
  padding: 75px;
}

.main-listes h1 {
  gap: 15px;
  font-size: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-listes h1::after {
  content: '';
  width: 100%;
  background-color: #000000;
  opacity: .2;
  height: 1px;
  font-size: 2rem;
}

.main-listes .main-listes-container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.main-listes-filters ul {
  list-style-type: none;
  display: flex;
}

.main-listes-filters .btn-filter {
  background: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px 25px;
  border: 0px solid transparent;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: all .15s ease-in-out;
}

.main-listes-filters .btn-filter-active {
  color: var(--white-text);
  background-color: var(--purple);
}

.main-listes-filters .btn-filter:hover {
  color: var(--white-text);
  background-color: var(--purple);
}

.main-listes .liste {
  overflow: hidden;
  border: 3px solid var(--purple);
  border-radius: var(--border-radius);
  padding: 25px;
  display: none;
  flex-direction: column;
  gap: 15px;
}

.main-listes .main-liste-article {
  cursor: pointer;
  position: relative;
  color: var(--white-text);
  background: var(--purple);
  padding: 25px 17px;
  padding-right: 75px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--paragraph);
  border-radius: var(--border-radius);
  box-shadow: var(--little-shadow);
  animation: tabFadeEffect .7s ease-in-out;
}

@keyframes tabFadeEffect {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.nodescription-tournoi {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-liste-article .arrow {
  right: 3%;
  position: absolute;
  transition: all .15s ease-in-out;
}

.arrow-active {
  transform: rotate(90deg);
}

.main-listes .article-btns a {
  color: var(--white-text);
  padding: 0 15px;
}

.tournoicheckbox {
  display: none;
}

.description-tournoi {
  display: none;
  transform: scaleY(0);
  transition: all .3s ease-in-out;
}

.description-tournoi-active {
  display: block;
  transform: scaleY(100%);
}

/* .tournoicheckbox:checked~.description-tournoi {
  display: block;
}

.tournoicheckbox:checked~.arrow {
  transform: rotate(90deg);
} */

/* login */