.banner {
    height: 40px;
    position: relative;
    top: 10%;
}

a {
    text-decoration: none;
    color: black;
}

.first_section {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.title {
    text-align: center;
    padding: 0px;
}


.connexion .button {
    position: relative;
    top: 30%;
    border: 2px solid #383454;
    border-radius: 10px;
    background-color: #383454;
    padding: 5px 10px;
    color: white;
}

.second_section {
    display: flex;
    width: 100%;
    height: 100%;

}

.menu {
    width: 100vw;
}

.menu li {
    list-style: none;
    display: inline;
    border: 2px solid black;
    width: 100%;
    text-align: center;
    padding: 10px 0;


}


.menu ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

header {
    padding: 10px;
    border: 3px solid black;
}

.sous-menu {
    width: auto;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    display: flex;
    flex-direction: column;
    position: fixed;

}

.sous-menu>li>a {
    height: 25px;
    padding-left: 20px;
    align-items: center;
    display: flex;
}

header>ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    height: var(--hauteur-menu);
}

header ul {
    list-style-type: none;
}

header>ul>li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1
}

header {
    position: sticky;
    top: 0;
}

header>ul>li>a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a {
    text-decoration: none;
    color: black;
}

@keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }

.menu-deroulant>a:after {
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}